services:
  database:
    container_name: database
    image: postgres:latest
    restart: unless-stopped
    ports:
      - '5432:5432'
    volumes:
      - db:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: chat_app
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password

volumes:
  db:
    driver: local
